<h1>송금페이지</h1>

<form method="POST">
    <input type="number" name="from_account">
    <input type="number" name="to_account">
    <input type="number" name="amount">
    <input type="submit" value="btn">
</form>