<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>TURTLEBANK</h3>
                    <p style="color:#6e6e6d">
                        동국대 학술관 718호
                        Seoul
                        Korea<br>
                        <strong>Email:</strong> Kobuk@youtube.com<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; 모의해커 <strong><span>한끗차이</span></strong>. 많은 기대 부탁드립니다.
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">한끗차이</a>
        </div>


    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/waypoints/noframework.waypoints.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>
