<%- include("common/header") %>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-danger">마이데이터</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>계좌 번호</th>
                        <th>잔액</th>
                        <th>은행코드</th>
                        <th></th>
                        <!-- 원하는 다른 열 추가 가능 -->
                    </tr>
                </thead>
                <%- html_data %>
            </table>
        </div>
    </div>
    <br>
    <script>
        function redirectToTransferPage(accountNumber, balance, bankCode) {
            // 선택된 계좌 정보를 URL 쿼리 매개변수로 전달하여 송금 페이지로 이동
            window.location.href = "/bank/otherbank_send/?account_number=" + accountNumber + "&balance=" + balance + "&bank_code=" + bankCode;
        }
    </script>
    <div style="text-align:center; width:100%; display:inline-block;">
        <form action="/bank/mydata" method="post">
            <button class="btn btn-user btn-block" type="submit" id="view" value="submit" style="background-color:#00f !important; color:white !important;">마이데이터 불러오기</button>
        </form>
    </div><br>
</div>

<%- include("common/footer") %>