<%- include("common/header") %>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-danger">입출금내역</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <form action="/bank/list" method="post">
                <%- html %>
            </table>
        </div>
    </div>
</div>

<%- include("common/footer") %>