.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }
  
  .show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
  }
  
  .window {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .popup {
    position: fixed; /* 변경된 부분 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    width: 60%; /* 가로 크기 조정 (원하는 크기로 조절) */
    max-height: 120%; /* 최대 높이 설정 (원하는 크기로 조절) */
    overflow-y: auto; /* 세로 스크롤 추가 */
  
    /* 임시 지정 */
    /* width: 300px;
    height: 200px; */
  
    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
  }
  
  .show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }