<!DOCTYPE html>
<html lang="en">

<%- include("common/header") %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li>Signup</li>
            </ol>
            <h2>Signup</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page contact">
        <div class="container">
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex justify-content-center" style="margin:0 auto;">
                <form action="/user/signup" method="post" role="form" class="php-email-form">

                    <div class="form-group">
                        <label for="name">ID</label>
                        <input type="text" class="form-control" name="username" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="name">PASSWORD</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="form-group">
                        <label for="name">E-mail</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Phone Number</label>
                        <input type="tel" class="form-control" name="phone" pattern="[0-9]{3}[0-9]{4}[0-9]{4}" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="name">ACCOUNT PASSWORD</label>
                        <input type="password" class="form-control" name="accountPW" id="accountPW" required>
                    </div>
                    <!-- <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div> -->
                    <div style="text-align:center; width:100%; display:inline-block;">
                        <button type="button" class="btn btn-primary" id="show">Signup</button>
                    </div>

                    <div class="background">
                        <div class="window">
                          <div class="popup">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title"><strong>약관 동의서</strong></h5>
                              </div>
                              <div class="modal-body" style="max-height: 300px; overflow-y: auto;">
                                <p>TURTLE Bank에 오신 것을 환영합니다. <br>
                                    TURTLE Bank에 가입을 위해서는 아래의 약관에 동의가 필요합니다.<br><br>
                                </p>
                                <div class="form-group">
                                    <strong><label for="additionalComments">약관 <br></label></strong>
                                    </label>
                                    <p>
                                        이 은행여신거래기본약관(이하"약관"이라 합니다)은 주식회사 TURTLE Bank(이하 "은행"이라 합니다)과 거래처(이하 "채무자"라 합니다)와의 상호신뢰를 바탕으로 여신거래의 원활하고 공정한 처리를 위하여 만들어진 것입니다. 은행은 이 약관을 모든 영업점 및 전자금융매체에 비치·게시하고, 채무자는 이를 열람하거나 그 교부를 청구할 수 있습니다. 
                                        <br>제1조 적용범위
                                        <br>① 이 약관은 은행과 채무자(차주·할인신청인·지급보증신청인 등 은행에 대하여 채무를 부담하는 사람을 말합니다. 이하 같습니다) 사이의 어음대출·어음할인·증서대출·당좌대출·지급보증·유가증권대여·외국환 기타의 여신에 관한 모든 거래에 적용됩니다.
                                        <br>② 이 약관은 채무자가 발행·배서·인수나 보증한 어음(수표를 포함합니다. 이하 같습니다)을 은행이 제3자와의 여신에 관한 거래에서 취득한 경우에 그 채무의 이행에 관하여도 적용됩니다. 다만, 제2조, 제3조, 제5조, 제7조, 제9조, 제12조 제1항, 제15조 제1항은 적용되지 않습니다.
                                        <br>③ 이 약관은 은행의 본·지점과 채무자의 본·지점 사이의 제1항 및 제2항의 적용범위에 속하는 모든 거래와 채무이행에 공통으로 적용됩니다.
                                        <br>제2조 어음채권과 여신채권
                                        <br>채무자가 발행하거나 배서·보증·인수한 어음에 의한 여신의 경우 은행은 어음채권 또는 여신채권의 어느 것에 의하여도 청구할 수 있습니다.
                                        
                                        <br><br>제3조 이자 등과 지연배상금
                                        <br>① 이자·할인료·보증료·수수료 등(이하 "이자 등"이라고 합니다)의 율·계산방법·지급의 시기 및 방법에 관해 은행은 법령이 허용하는 한도 내에서 정할 수 있으며, 채무자가 해당사항을 계약 체결 전에 상품설명서 및 홈페이지 등에서 확인할 수 있도록 합니다.
                                        <br>② 이자 등의 율은 거래계약시에 채무자가 다음의 각 호 중 하나를 선택하여 적용할 수 있습니다.
                                        <br>1. 채무의 이행을 완료할 때까지 은행이 그 율을 변경할 수 없음을 원칙으로 하는 것
                                        <br>2. 채무의 이행을 완료할 때까지 은행이 그 율을 수시로 변경할 수 있는 것
                                        <br>③ 제2항 제1호를 선택한 경우에 채무이행완료 전에 국가경제·금융사정의 급격한 변동 등으로 계약 당시에 예상할 수 없는 현저한 사정변경이 생긴 때에는 은행은 채무자에 대한 개별통지에 의하여 그 율을 인상·인하 할 수 있기로 합니다. 이 경우 변경요인이 해소된 때에는 은행은 지체 없이 해소된 상황에 부합되도록 변경하여야 합니다.
                                        <br>④ 제2항 제2호를 선택한 경우에 이자 등의 율에 관한 은행의 인상·인하는 건전한 금융관행에 따라 합리적인 범위 내에서 이루어져야 합니다.
                                        <br>⑤ 채무자가 은행에 대한 채무의 이행을 지체한 경우에는, 곧, 지급하여야 할 금액에 대하여 법령이 정하는 제한 내에서 은행이 정한 율로, 1년을 365일(윤년은 366일)로 보고 1일 단위로 계산한 지체일수에 해당하는 지연배상금을 지급하기로 하되, 금융사정의 변화 그 밖의 상당한 사유로 인하여 법령에 의하여 허용되는 한도 내에서 율을 변경할 수 있습니다. 다만, 외국환거래에 있어서는 국제관례·상관습 등에 따릅니다.
                                        <br>⑥ 은행이 이자 등과 지연배상금의 계산방법·지급의 시기 및 방법을 변경하는 경우에, 그것이 법령에 의하여 허용되는 한도내이고 금융사정 및 그 밖의 여신거래에 영향을 미치는 상황의 변화로 인하여 필요한 것일 때에는 변경 후 최초로 이자를 납입하여야 할 날부터 그 변경된 사항이 적용됩니다.
                                        <br>⑦ 제4항, 제5항 및 제6항에 따라 변경하는 경우 은행은 그 변경 기준일부터 1개월간 모든 영업점 및 은행이 정하는 전자매체 등에 이를 게시하여야 합니다. 다만, 특정채무자에 대하여 개별적으로 변경하는 경우에는 개별통지 하여야 합니다.
                                        <br>⑧ 제3항 및 제6항에 의하여 채무자에게 예상하지 못한 불이익이 초래되는 경우에, 채무자는 변경 후 최초로 이자를 납입하여야 할 날부터 1개월 이내에 계약을 해지할 수 있습니다. 이 경우 해지일까지는 변경전의 이율 등을 적용하기로 하고, 채무자가 그 해지로 인하여 발생한 은행에 대한 반환채무이행을 지체한 경우에는 변경전의 지연배상금률 등을 적용하기로 합니다.
                                        <br>제4조 비용의 부담
                                        <br>① 채무자는 채무불이행에 따라 발생하는 다음 각 호의 비용을 부담하여야 합니다.
                                        <br>1. 채무자·보증인 또는 물상보증인에 대한 은행의 채권 또는 담보권의 행사나 보전[가압류 또는 가처분(그 해지도 포함) 등을 말함]
                                        <br>2. 담보목적물의 조사 또는 추심
                                        <br>3. 채무이행의 독촉을 위한 통지
                                        <br>② 제1항에 의한 비용을 채무자가 지급하지 않아서, 은행이 대신 지급한 경우에는, 채무자는 곧 이를 갚아야 합니다. 채무자가 이를 곧 갚지 아니하는 때에는 은행이 대신 지급한 금액에, 대신 지급한 날부터 다 갚는 날까지의 날짜 수 만큼, 상법 제54조(상사법정이율)에 의한 연 6푼의 범위 내에서 약정금리로, 1년을 365일(윤년은 366일)로 보고 1일 단위로 계산한 금액을 더하여 갚아야 합니다.
                                        <br>③ 은행은 대출약정을 하기 전에 채무자가 미리 알 수 있도록 별도의 서면에 의하여 약정이자, 기한도래일전 상환수수료 및 대출로 인하여 채무자가 부담하여야 할 부대비용의 항목과 금액을 설명하여야 합니다. 아울러 약정이자와 성격이 유사한 수수료 등을 합산한 실질유효금리를 산정하여 설명하여야 합니다.
                                        <br>제5조 자금의 용도 및 사용
                                        <br>채무자는 여신신청시 자금의 용도를 명확하게 제시하고 은행과의 여신거래로 받은 자금을 그 거래 당초에 정해진 용도와 다른 용도로 사용하지 않습니다. 지급보증 기타 은행으로부터 받은 신용의 경우에도 또한 같습니다.
                                        
                                        <br><br>제6조 담 보
                                        <br>① 채무자 또는 보증인의 책임있는 사유로 신용이 악화되거나 담보물의 가액 감소가 현저한 경우, 채무자 또는 보증인은 채권보전을 위한 은행의 청구에 의하여 그 원상회복 및 담보의 보충을 하여야 합니다.
                                        <br>② 담보목적물의 처분은 「민사집행법」에 따른 임의경매절차에 의함을 원칙으로 하되, 다음 각 호의 경우 은행은 담보목적물로써 직접변제에 충당하거나, 담보목적물을 매각하여 그 대금에서 제 비용을 뺀 잔액을 제13조에 준하여 충당할 수 있습니다. 이러한 경우 은행은 담보목적물의 평가액 또는 매각대금에서 그 채권액을 뺀 금액을 채무자 등에게 지급합니다. “채무자 등”은 채무자, 설정자, 담보목적물의 제3취득자를 말합니다.
                                        <br>1. 목적물의 가치가 적어 많은 비용을 들여 경매하는 것이 불합리한 경우
                                        <br>2. 경매시 정당한 가격으로 경락되기 어려운 사정이 있는 경우
                                        <br>3. 공정시세가 있어서 경매에 의하지 않아도 공정가격 산출이 가능한 경우
                                        <br>4. 그 밖에 정당한 사유가 있다고 볼 수 있는 경우
                                        <br>③ 임의경매절차에 의하지 아니하는 경우, 은행은 다음 각 호의 내용을 채무자 등과 은행이 알고 있는 이해관계인에게 통지하고, 그 통지가 도달한 날로부터 1개월 이내에 이해관계인이 은행이 산정한 예상매각대금 이상으로 처분할 수 있는 방법을 제시하지 않아야 처분할 수 있습니다. 다만, 담보목적물이 멸실 또는 훼손될 염려가 있거나 가치가 급속하게 감소될 우려가 있는 경우에는 그러하지 아니합니다.
                                        <br>1. 담보권실행의 방법
                                        <br>2. 피담보채권의 금액
                                        <br>3. 담보목적물의 평가액 또는 예상매각대금
                                        <br>4. 담보목적물로써 직접 변제에 충당하거나 담보목적물을 매각하려는 이유
                                        <br>④ 채무자가 은행에 대한 채무의 이행을 지체한 경우에는, 은행이 점유하고 있는 채무자의 동산ㆍ어음 기타의 유가증권을, 담보로서 제공된 것이 아닐지라도, 은행이 계속 점유하거나 제2항 내지 제3항에 준하여 추심 또는 처분 등의 처리를 할 수 있기로 합니다.
                                        <br>제7조 기한전의 채무변제의무
                                        <br>※ 동 조항의 밑줄 친 부분은 공정거래위원회의 표준약관과 다릅니다.
                                        
                                        <br>① 채무자에 관하여 다음 각 호에서 정한 사유 중 하나라도 발생한 경우에는, 은행으로부터의 독촉·통지 등이 없어도, 채무자는 당연히 은행에 대한 모든 채무의 기한의 이익을 상실하여(지급보증거래에 있어서의 사전구상채무 발생, 유가증권대여에 있어서의 기한전의 대여증권반환의무·대여유가증권상에 설정하였던 담보권설정등록 말소의무를 포함합니다. 이하 같습니다), 곧 이를 갚아야 할 의무를 집니다.
                                        <br>1. 제 예치금 기타 은행에 대한 채권에 대하여 가압류·압류명령이나 체납처분 압류통지가 발송된 때 또는 기타의 방법에 의한 강제집행 개시나 체납처분 착수가 있는 때. 다만, 담보재산이 존재하는 채무의 경우에는 채권회수에 중대한 지장이 있는 때에만 가압류를 사유로 기한의 이익을 상실합니다.
                                        <br>2.채무자가 제공한 담보 재산(제1호의 제 예치금 기타 은행에 대한 채권은 제외)에 대하여 압류명령이나 체납처분 압류통지가 발송된 때 또는 기타의 방법에 의한 강제집행 개시나 체납처분 착수가 있는 때
                                        <br>3. 파산·회생·개인회생절차개시의 신청이 있거나, 채무불이행자명부 등재 신청이 있는 때
                                        <br>4. 조세공과에 관하여 납기전 납부고지서를 받거나, 어음교환소의 거래정지처분이 있는 때
                                        <br>5. 폐업, 도피 기타의 사유로 지급을 정지한 것으로 인정된 때
                                        <br>6. 채무자의 과점주주나 실질적인 기업주인 포괄근보증인의 제 예치금 기타 은행에 대한 채권에 대하여 제1호의 명령이나 통지가 발송된 때
                                        <br>② 채무자에 관하여 다음 각 호에서 정한 사유 중 하나라도 발생한 경우 채무자는 당연히 당해 채무의 기한의 이익을 상실하여 곧 이를 갚아야 할 의무를 집니다. 이 경우, 은행은 기한의 이익상실일 3영업일전까지 다음 각 호의 채무이행 지체사실과 이에 따라 기한의 이익이 상실된다는 사실을 채무자에게 통지하여야 하며, 기한의 이익상실일 3영업일전까지 통지하지 않은 경우 실제 통지가 도달한 날부터 3영업일이 경과한 날에 기한의 이익을 상실하여 채무자는 곧 이를 갚아야 할 의무를 집니다.
                                        <br>1. 이자 등을 지급하여야 할 때부터 계속하여 14일간 지체한 때
                                        <br>2. 분할상환금 또는 분할상환 원리금의 지급을 2회 이상 연속하여 지체한 때
                                        <br>③ 채무자에 관하여 다음 각 호에서 정한 사유 중 하나라도 발생하여 은행의 채권보전에 현저한 위험이 예상될 경우, 은행은 서면으로 변제, 압류 등의 해소, 신용의 회복 등을 독촉하고, 그 통지의 도달일부터 10일 이상으로 은행이 정한 기간이 경과하면, 채무자는 은행에 대한 모든 채무의 기한의 이익을 상실하여, 곧 이를 갚아야 할 의무를 집니다.
                                        <br>1. 은행에 대한 수 개의 채무 중 하나라도 기한에 변제하지 아니하거나 제2항과 제4항에 의하여 기한의 이익을 상실한 채무를 변제하지 아니한 때
                                        <br>2. 제1항 제1호 및 제2호 외의 재산에 대하여 압류·체납처분이 있는 때
                                        <br>3. 채무자의 제1항 제1호 외의 재산에 대하여, 민사집행법상의 담보권실행 등을 위한 경매개시가 있거나 가압류 통지가 발송되는 경우로서, 채무자의 신용이 현저하게 악화되어 채권회수에 중대한 지장이 있을 때
                                        <br>4. 제5조, 제19조에서 정한 약정을 위반하여 건전한 계속거래 유지가 어렵다고 인정된 때
                                        <br>5. 여신거래와 관련하여 허위, 위·변조 또는 고의로 부실자료를 은행에 제출한 사실이 확인된 때
                                        <br>6. 청산절차 개시, 결손회사와의 합병, 노사분규에 따른 조업중단, 휴업, 관련기업의 도산, 회사경영에 영향을 미칠 법적분쟁 발생 등으로 현저하게 신용이 악화되었다고 인정된 때
                                        <br>7. 신용정보관리규약상 신용거래정보 중 연체정보, 대위변제·대지급정보, 부도정보, 관련인정보, 금융질서문란정보 및 공공기록정보로 등록된 때
                                        <br>④ 채무자에 관하여 다음 각 호에서 정한 사유 중 하나라도 발생한 경우에 은행은 서면으로 독촉하고, 그 통지의 도달일부터 10일 이상으로 은행이 정한 기간이 경과하면 채무자는 은행에 대해 당해 채무 전부의 기한의 이익을 상실하여, 곧 이를 갚아야 할 의무를 집니다.
                                        <br>1. 제6조 제1항, 제15조에서 정한 약정을 이행하지 아니한 때
                                        <br>2. 담보물에 대한 화재보험 가입의무를 이행하지 아니한 때, 은행을 해할 목적으로 담보물건을 양도하여 은행에 손해를 끼친 때, 시설자금을 받아 설치·완공된 기계·건물 등의 담보제공을 지체하는 때, 기타 은행과의 개별약정을 이행하지 아니하여 정상적인 거래관계 유지가 어렵다고 인정된 때
                                        <br>3. 보증인이 제1항 제1호 내지 제5호의 사유에 해당되거나 제3항 제2호 및 제3호에 해당하는 경우로서, 상당한 기간 내에 보증인을 교체하지 아니한 때
                                        <br>⑤ 제1항 내지 제4항에 의하여 채무자가 은행에 대한 채무의 기한의 이익을 상실한 경우라도, 은행의 명시적 의사표시가 있거나, 분할상환금·분할상환원리금·이자·지연배상금의 수령 등 정상적인 거래의 계속이 있는 때에는, 그 채무 또는 은행이 지정하는 채무의 기한의 이익은 그 때부터 부활됩니다.
                                        <br>제8조 기한이익 상실의 연대보증인에 대한 통지
                                        <br>① 제7조 제1항 각 호에 의하여 기한이익이 상실될 때, 은행은 제1호·제6호 및 제4호 중 어음교환소의 거래정지처분이 있는 경우에는 기한의 이익 상실사유가 발생한 날부터, 그 밖의 경우에는 기한의 이익 상실사유를 은행이 인지한 날부터 각 15영업일 이내에 연대보증인에게 서면으로 그 내용을 통지하여야 합니다.
                                        <br>② 제7조 제3항과 제4항에 의하여 기한이익이 상실되는 경우, 은행은 기한의 이익이 상실된 날부터 15영업일 이내에 연대보증인에게 서면으로 그 내용을 통지하여야 합니다.
                                        <br>③ 제1항 및 제2항에 의하여 연대보증인에게 기한이익 상실을 통지한 경우라도, 제7조 제5항에 해당되어 기한이익이 부활된 채무에 대하여는 계속거래를 위한 연대보증인의 동의를 요하지 않습니다. 이 경우 은행은 기한이익이 부활된 채무의 연대보증인에게 15영업일 이내에 서면으로 부활통지를 하여야 합니다.
                                        <br>④ 제7조 제2항 각 호에 의하여 기한이익이 상실되는 경우, 은행은 기한의 이익이 상실된 날로부터 15영업일 이내에 연대보증인에게 서면으로 그 내용을 통지하여야 합니다.
                                        <br>제9조 할인어음의 환매채무
                                        <br>① 어음의 할인을 받은 채무자는 다음의 어음에 대하여 은행으로부터의 독촉·통지 등이 없어도 당연히 어음면 기재금액에 의한 환매채무를 지고 곧 갚아야 합니다. 이 경우 채무자가 어음의 만기전에 환매채무를 이행하는 때에는 은행은 그 이행일부터 그 어음의 만기일까지의 할인료 상당금액을 되돌려 주어야 합니다.
                                        <br>1. 채무자에 관하여 제7조 제1항 각 호에서 정한 사유 중 하나라도 발생한 경우에는 할인 의뢰한 모든 어음
                                        <br>2. 어음을 발행 또는 인수한 자에게 제7조 제1항 각 호에서 정한 사유 중 하나라도 발생되거나 기일에 지급하지 아니한 때에는 그가 발행 또는 인수한 모든 어음
                                        <br>② 어음의 할인을 받은 채무자는 다음의 어음에 대하여 은행이 서면으로 독촉하고 그 통지의 도달일로부터 10일 이상으로 은행이 정한 기간이 경과하면 어음의 환매채무를 지고 곧 갚기로 합니다. 이 경우 채무자가 어음의 만기전에 환매채무를 이행하는 때에는 은행은 그 이행일부터 만기일까지의 할인료 상당금액을 되돌려 주어야 합니다.
                                        <br>1. 채무자에 관하여 제7조 제3항, 제4항 각 호에서 정한 사유 중 하나라도 발생한 경우에는 할인의뢰한 모든 어음
                                        <br>2. 어음을 발행 또는 인수한 자에 관하여 제7조 제3항, 제4항 각 호에서 정한 사유 중 하나라도 발생한 경우 그가 발행 또는 인수한 모든 어음
                                        <br>③ 제1항, 제2항에 의한 채무를 모두 갚을 때까지는, 은행이 어음소지인으로서의 모든 권리를 행사할 수 있습니다.
                                        <br>④ 제1항, 제2항의 경우에도, 제7조 제5항을 준용합니다.
                                        <br>제10조 은행으로부터의 상계 등
                                        <br>① 기한의 도래 또는 제7조에 의한 기한전 채무변제의무, 제9조에 의한 할인어음의 환매채무의 발생 기타의 사유로, 은행에 대한 채무를 이행하여야 하는 경우에는, 그 채무와 채무자의 제 예치금 기타의 채권과를 그 채권의 기한도래 여부에도 불구하고, 은행은 서면통지에 의하여 상계할 수 있습니다.
                                        <br>② 제1항에 있어서와 같이 은행에 대한 채무를 이행하여야 하는 경우에는, 은행은 사전의 통지나 소정의 절차를 생략하고, 채무자를 대리하여 채무자가 담보로 제공한 채무자의 제 예치금을 그 기한도래 여부에 불구하고 환급 받아서 채무의 변제에 충당할 수 있습니다. 이 경우 은행은 대리환급 변제충당 후 그 사실을 지체 없이 채무자에게 통지합니다.
                                        <br>③ 제1항에 따라 채무자의 채무와 채무자 및 보증인의 제 예치금 기타 채권(이하 “제 예치금 등”이라 합니다)과를 상계 할 경우, 은행은 상계에 앞서 채무자 및 보증인의 제 예치금 등에 대하여 일시적인 지급정지 조치를 취할 수 있기로 하되, 채무자와 보증인의 제 예치금 등에 대하여 지급정지 조치를 취한 경우에는 그 사실을 지체 없이 해당 제 예치금 등의 명의인에게 통지하여야 합니다.
                                        <br>④ 제1항에 의한 상계나 제2항에 의한 대리환급변제충당을 실행하는 경우에는 채무자ㆍ보증인ㆍ담보제공자의 정당한 이익을 고려하여 신속히 실행하여야 하며, 채권ㆍ채무의 이자 등과 지연배상금의 계산기간은, 은행의 상계통지가 채무자에게 도달한 날, 은행이 대리환급변제충당을 위한 계산을 하는 날까지로 하되, 그 율은 은행이 정하는 바에 따르며, 외국환시세는 은행이 계산실행 할 때의 시세에 의하기로 합니다. 이 경우, 기한 미도래 제 예금 등의 이율은 해당 예금 등의 가입시 은행과 약정한 이율로 합니다.
                                        <br>제11조 채무자로부터의 상계
                                        <br>① 채무자는 채무자의 기한 도래한 예금 기타의 채권과 은행에 대한 채무와를 그 채무의 기한 도래 여부에 불구하고 상계 할 수 있습니다.
                                        <br>② 만기전의 할인어음에 관하여 제1항에 의하여 상계를 할 경우, 채무자는 어음금액에서 환매일부터 만기일까지 할인료 상당금액을 뺀 나머지 금액에 대한 환매채무를 지고, 이를 상계 할 수 있습니다. 그러나 은행이 타인에게 재양도중인 할인어음에 관하여는 상계 할 수 없습니다.
                                        <br>③ 제1항, 제2항의 약정에 불구하고, 외화에 대한 채권과 채무에 관하여는, 각기 기한 도래하고 또한 외국환에 관한 법령에 따른 소정절차를 밟은 때에 한하여 상계 할 수 있습니다.
                                        <br>④ 제1항 내지 제3항에 의하여 상계를 하는 경우에는, 서면에 의한 상계통지에 의하기로 하며, 상계한 예금 기타 채권의 증서·통장은 이미 신고한 도장을 찍거나 서명을 하여 곧 은행에 제출하여야 합니다.
                                        <br>⑤ 제1항 내지 제3항에 의한 상계를 하는 경우 채권·채무의 이자, 할인료 등과 지연배상금의 계산기간은 상계통지가 도달한 날까지로 하고, 그 율은 은행이 정하는 바에 따르며, 외국환시세는 은행이 계산 실행할 때의 시세에 의합니다. 또한 기한전 변제에 관한 특별한 수수료의 정함이 있는 때에는 그 정함에 따라야 합니다.
                                        <br>제12조 어음의 제시·교부
                                        <br>① 어음이 따르는 거래에 있어서, 은행이 어음채권에 의하지 아니하고 제10조에 의한 상계 또는 대리환급변제충당을 할 경우, 은행은 그 어음을 동시에 반환하지 아니하여도 되며, 어음의 반환장소는 그 거래영업점으로 합니다. 이 경우 은행은 어음을 찾아가도록 지체 없이 채무자에게 통지하여야 합니다. 제11조에 의한 상계에 따른 어음의 처리도 같습니다.
                                        <br>② 은행이 어음채권에 의하여 제10조에 의한 상계 또는 대리환급변제충당을 할 때에는, 다음 각 호의 경우에 한하여, 어음의 제시 또는 교부를 하지 않아도 되며, 이 경우의 어음의 처리도 제1항과 같습니다.
                                        <br>1. 은행이 채무자의 소재를 알 수 없을 때
                                        <br>2. 은행이 어음의 지급장소인 때
                                        <br>3. 교통·통신의 두절, 추심 기타의 사유로 제시 또는 교부의 생략이 부득이 하다고 인정되는 때
                                        <br>③ 제10조, 제11조에 의한 상계 등을 하고도, 곧 이행하여야 할 나머지 채무가 있을 경우에, 어음에 채무자 이외의 어음상 채무자가 있는 때에는 은행은 그 어음을 계속 점유하고 추심 또는 처분한 후, 제13조에 준하여 채무의 변제에 충당할 수 있습니다.
                                        <br>④ 은행이 어음채권의 시효중단을 위하여 독촉을 할 경우에도, 어음의 제시를 생략할 수 있습니다.
                                        <br>제13조 은행의 변제 등의 충당지정
                                        <br>① 채무자가 변제하거나, 은행이 제10조에 의한 상계 또는 대리환급변제충당을 하는 경우에, 채무자의 채무 전액을 없애기에 부족한 때에는 비용, 이자, 원금의 순서로 충당하기로 합니다. 그러나 은행은 채무자에게 불리하지 않은 범위 내에서 충당순서를 달리할 수 있습니다.
                                        <br>② 변제 또는 상계될 채무가 수개인 경우로서 채무전액이 변제 또는 상계되지 않을 경우, 강제집행 또는 담보권 실행경매에 의한 회수금에 대하여는 민법 기타 법률이 정하는 바에 따릅니다.
                                        <br>③ 변제 또는 상계될 채무가 수 개인 경우로서 제2항에 해당되지 않는 임의의 상환금 또는 제 예치금으로 채무자의 채무 전액을 없애기에 부족한 때에는 채무자가 지정하는 순서에 따라 변제 또는 상계에 충당하기로 합니다. 이 경우, 채무자가 지정하는 순서에 따를 경우, 은행의 채권보전에 지장이 생길 염려가 있는 때에는 은행은 지체 없이 이의를 표시하고, 물적 담보나 보증의 유무, 그 경중이나 처분의 난이, 변제기의 장단, 할인어음의 결제가능성 등을 고려하여 은행이 변제나 상계에 충당할 채무를 바꾸어 지정할 수 있습니다.
                                        <br>④ 은행이 변제충당순서를 제3항에 따라 민법 기타 법률이 정하는 바와 달리할 경우에는 은행의 채권보전에 지장이 없는 범위 내에서 채무자와 담보제공자 및 보증인의 정당한 이익을 고려하여야 합니다.
                                        <br>제14조 채무자의 상계충당지정
                                        <br>① 채무자가 제11조에 의하여 상계하는 경우, 채무자의 채무 전액을 소멸시키기에 부족한 때에는, 채무자가 지정하는 순서에 따라 상계에 충당합니다.
                                        <br>② 채무자가 제1항의 상계충당지정을 아니하거나 제1항의 지정에 의하면 은행의 채권보전상 지장이 생길 염려가 있는 경우에는 제13조에 준하여 은행이 상계에 충당할 채무를 지정하기로 합니다.
                                        <br>제15조 위험부담· 면책조항
                                        <br>① 채무자가 발행·배서·인수나 보증한 어음 또는 채무자가 은행에 제출한 제 증서 등이 불가항력·사변·재해·수송도중의 사고 등 은행 자신의 책임 없는 사유로 인하여 분실·손상·멸실 또는 연착한 경우 채무자는 은행의 장부·전표 등의 기록에 의하여 채무를 갚기로 하되, 채무자가 은행의 장부·전표 등의 기록과 다른 자료를 제시할 경우 은행의 기록과 채무자가 제시하는 자료를 상호 대조하여 채무를 확정한 후 갚기로 합니다.
                                        <br>② 채무자는 제1항의 분실·손상·멸실의 경우에 은행의 청구에 따라 곧 그에 대신할 어음이나 증서 등을 제출하여야 합니다. 다만, 은행이 제3자와의 거래에서 취득한 어음이나 증서의 경우에는 제출하지 않아도 됩니다.
                                        <br>③ 제1항, 제2항에 의한 변제 또는 어음이나 증서의 제출로 인하여 채무자가 과실없이 이중의 지급의무를 부담하게 됨으로 말미암은 손해는 은행이 부담하여야 합니다.
                                        <br>④ 은행이 어음이나 제 증서 등의 인영·서명을 채무자가 미리 신고한 인감·서명과 상당한 주의로써 대조하고, 틀림없다고 인정하여 거래한 때에는, 어음·증서 등과 도장·서명에 관하여 위조·변조·도용 등의 사고가 있더라도 이로 말미암은 손해는 채무자가 부담하며, 채무자는 어음 또는 증서 등의 기재문언에 따라 책임을 지기로 합니다.
                                        <br>제16조 신고사항과 그 변경 등
                                        <br>① 채무자는 거래에 필요한 채무자의 명칭·상호·대표자·주소 등과 인감·서명을 은행이 정한 용지에 의하여, 미리 신고하여야 합니다. 또한 대리인에 의하여 거래하고자 할 경우에, 그 성명·인감·서명 등에 관하여도 같습니다.
                                        <br>② 제1항에 의한 신고사항에 변경이 있는 경우, 채무자는 지체없이 그 변경 내용을 은행에 신고하여야 합니다. 등기부상 변경등기를 마친 사항에 관하여도 같습니다.
                                        <br>제17조 자료의 성실작성의무
                                        <br>채무자는 여신거래와 관련하여 은행에 제출하는 자료를 성실하게 작성·제출하여야 합니다.
                                        
                                        <br><br>제18조 통지의 효력
                                        <br>① 은행이 채무자가 신고한 최종 주소로 서면통지 또는 기타 서류 등을 발송한 경우, 보통의 우송기간이 경과한 때에 도달한 것으로 추정합니다.
                                        <br>② 채무자가 제16조 제2항에 의한 변경신고를 게을리 함으로 말미암아 제1항에 의하여 발송한 서면통지 또는 기타서류가 채무자에게 연착하거나 도달되지 않은 때에는 보통의 우송기간이 경과한 때에 도달한 것으로 봅니다. 다만, 상계통지나 기한전의 채무변제 청구 등 중요한 의사표시인 경우에는 내용증명에 의한 경우에 한하여 도달한 것으로 봅니다.
                                        <br>③ 은행이 채무자에 대한 통지 등의 사본을 보존하고 또 그 발신의 사실 및 연월일을 장부 등에 명백히 기재한 때에는 발송한 것으로 추정합니다.
                                        <br>제19조 회보와 조사
                                        <br>① 채무자는 그의 재산·부채현황·경영·업황 또는 융자조건의 이행 여부 기타 필요한 사항에 대하여, 은행의 요구가 있으면 곧 회보하며, 은행이 필요에 따라 채무자의 장부·공장·사업장 기타의 조사를 하는 경우 협조하여야 합니다.
                                        <br>② 채무자는 그 재산·영업·업황 기타 거래관계에 영향을 미칠 사항에 관하여 중대한 변화가 생기거나 생길 염려가 있을 때에는, 은행의 요구가 없더라도 곧 은행 앞으로 통지하여야 합니다.
                                        <br>③ 은행은 제1항 또는 제2항에 의한 회보 등이나 조사에 의하여, 채무자가 어음교환소의 거래정지처분, 부실여신의 보유, 경영상황의 급격한 악화 등으로 채권회수 불능의 우려가 있는 때에는, 그 직원을 파견하여 채무자의 재산 및 경영에 관하여 채권보전을 위한 범위 내에서 관리·감독할 수 있습니다.
                                        <br>제20조 여신거래조건의 변경
                                        <br>① 은행은 채무자의 신용상태 변동시 은행이 정하는 바에 따라 신용평가등급을 조정하고 서면통지에 의하여 여신한도, 여신만기, 금리 등 여신거래조건을 신용평가등급에 따라 변경할 수 있습니다.
                                        <br>② 채무자는 제1항에 의하여 여신한도·여신만기의 거래조건이 변경된 경우 이에 이의가 있을 때에는 변경기준일부터 1개월 이내에, 금리의 경우는 변경 후 최초로 이자를 납입하여야 할 날부터 1개월 이내에 계약을 해지할 수 있습니다. 이 경우 해지일까지는 변경전의 여신거래조건을 적용하기로 합니다.
                                        <br>③ 채무자는 신용상태가 호전되었다고 인정되는 경우 은행이 정하는 바에 따라 여신한도, 여신만기, 금리 등 여신거래조건 변경을 서면으로 요구할 수 있습니다. 이 경우 은행은 적정성 여부를 심사하여 필요한 조치를 취하고, 그 결과를 채무자 앞으로 곧 통지하여야 합니다.
                                        <br>제21조 이행장소·준거법
                                        <br>① 채무의 이행장소는, 다른 약정이 없는 한, 거래영업점으로 합니다. 다만, 부실채권의 관리 등 상당한 사유로 채권관리업무를 은행의 본점·지역본부 또는 다른 영업점으로 이관한 경우에는, 이관 받은 본점·지역본부 또는 다른 영업점을 그 이행장소로 합니다.
                                        <br>② 채무자가 내국인 또는 내국법인이 아닌 경우라도, 이 약관에 터 잡은 여신거래에 관하여 적용될 법률은 국내법을 적용합니다.
                                        <br>제22조 약관·부속약관 변경
                                        <br>① 은행이 이 약관을 변경하거나 부속약관을 채무자에게 불리하게 변경하고자 할 경우, 은행은 변경예정일 직전 1개월간 회사의 영업점 및 홈페이지에 변경내용을 게시합니다.
                                        <br>② 제1항의 변경내용이 채무자에게 불리한 경우 은행은 이를 서면 등 채무자와 사전에 합의한 방법으로 변경 전 최소 30일 전까지 개별 통지합니다. 다만, 기존 채무자에게 변경 전 내용이 그대로 적용되는 경우 또는 채무자가 변경내용에 대한 통지를 받지 아니하겠다는 의사를 명시적으로 표시한 경우에는 그러하지 아니합니다.
                                        <br>③ 은행은 제2항의 통지를 할 경우 “채무자가 변경에 동의하지 아니한 경우 통지를 받은 날로부터 30일 이내에 계약을 해지할 수 있으며, 계약해지의 의사표시를 하지 아니한 경우에는 변경에 동의한 것으로 본다.”라는 취지의 내용을 통지하여야 합니다.
                                        <br>④ 채무자가 제3항의 통지를 받은 날로부터 30일 이내에 계약해지의 의사표시를 하지 아니한 경우에는 변경에 동의한 것으로 봅니다.
                                        <br>⑤ 은행은 약관을 영업점에 비치 또는 게시하여 채무자가 요구할 경우 이를 교부하여야 합니다.
                                        <br>제23조 관할법원의 합의
                                        <br>이 약관에 터 잡은 여신거래에 관하여 은행과 채무자 또는 보증인 또는 물상보증인 사이에 소송의 필요가 생긴 때에는, 법이 정하는 관할법원과 아울러 은행의 거래영업점 소재지 지방법원을 관할법원으로 합니다. 다만, 채무자의 책임 있는 사유로 부실채권이 발생되어 그 채권의 관리를 위하여 은행이 본점·지역본부 또는 다른 영업점으로 그 채권관리 업무를 이관한 경우에는, 법이 정하는 관할법원과 아울러 이관 받은 본점·지역본부 또는 다른 영업점의 소재지 지방법원을 관할법원으로 합니다.
                                        
                                        <br><br>거래처는 은행거래와 관련하여 이의가 있을 때 거래은행의 분쟁기구에 해결을 요구하거나, 금융분쟁조정위원회 등을 통해 분쟁조정을 신청할 수 있습니다.
                                    </p>
                                </div>
                            </div>
                              <div class="modal-footer">
                                <input type="checkbox" id="agreementCheckbox" required>
                                <label for="agreementCheckbox">약관에 동의합니다</label>
                                <button type="submit" class="btn btn-primary" id="update" disabled>확인</button>
                                <button type="button" class="btn btn-primary" id="close">취소</button>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </section>

</main><!-- End #main -->


<%- include("common/footer") %>

</html>

<script>
    function show() {
        document.querySelector(".background").className = "background show";
    }

    function close() {
        document.querySelector(".background").className = "background";
    }

    function update() {
        var agreementCheckbox = document.getElementById("agreementCheckbox");
        if (agreementCheckbox.checked) {
            // 체크박스가 체크되었을 때의 처리 추가
            document.querySelector(".background").className = "background";
            //document.getElementById("signupForm").submit();
            // 업데이트 처리 추가
        } else {
            // 체크박스가 체크되지 않았을 때의 처리 추가 (예: 경고 메시지)
            alert("약관에 동의해야 합니다.");
        }
    }

    // 체크박스의 상태에 따라 확인 버튼 활성화/비활성화
    document.getElementById("agreementCheckbox").addEventListener("change", function () {
        var updateButton = document.getElementById("update");
        updateButton.disabled = !this.checked;
    });

    document.querySelector("#show").addEventListener("click", show);
    document.querySelector("#close").addEventListener("click", close);
    document.querySelector("#update").addEventListener("click", update);
</script>